body {
    padding-top: 54px;
}
@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

div#divMainContainer { padding: 25px; }
h4 { padding: 20px 0; }

.label {text-align: right}
.error {color: red}

div.navbar-nav > li > a.nav-link {
    color: #fff;
}
